<p id="notice"><%= notice %></p>

<p><%= @ledger_account.account %> </p>
<p><%= @ledger_account.description %> </p>


<%= link_to 'Edit', edit_ledger_account_path(@ledger_account) %> |
<%= link_to 'Back', ledger_accounts_path %>
