<p id="notice"><%= notice %></p>

<p><%= @journal.name %> </p>
<p><%= @journal.description %> </p>

<%= link_to 'Edit', edit_bank_journal_path(@journal) %> |
<%= link_to 'Back', bank_journals_path %>
